*{
    box-sizing: border-box;
}
header{
    background-color: white;
    position: fixed;
    display: flex;
    border: solid;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 96vw;
    gap: 10px;
}
#title1 {
    flex-grow: 1;
}

@media (max-width: 600px) {
    .header{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    #title1{
        display: none;
    }
    #logo{
        display: flex;
        border: solid;
        align-self: flex-start;
        width: 100vw;
    }
    footer{
        display: none !important;

    }

    .art1 > div{
        display: flex;
        flex-direction: column;
    }
    .art1{
        display: flex;
    flex-direction: column;
    }
    .art2{
        display: flex;
    flex-direction: column;
    }
    .art3{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}
main{
    padding-top: 200px;
}
#background{
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98vw;
    height: 98vh;
    background-image: url(./medis.png);
    background-size: contain;
}
#logo2{
    display: flex;
    width: 80vw;
    height: 80vh;
    background-color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#h21{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98vw;
}
#h22{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98vw;
}
#h23{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98vw;
}
.art1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 98vw;
    gap: 10px;
    padding: 30px;

}
.art1 > div{
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.art2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 98vw;
    gap: 20px;
    padding: 5px;
}
.art2 > div{
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;

}

.art3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 98vw;
    gap: 5px;
    padding: 5px;
}
.art3 > div{
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
#medis{
    width: 98vw;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 96vw;
    gap: 10px;
}


